html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #1B3C53;
    font-family: 'Vazir', sans-serif;

    direction: rtl;
    color: #ffffff;
    scroll-behavior: smooth;
}


body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container {
    width: 100%;
    max-width: 1500px;
    padding: 20px;
}

.main-box {
    display: flex;
    flex-direction: column;
    background-color: #234C6A;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    gap: 60px;
}

.menu-box {
    margin: 0px auto;
    height: 100px;
    width: 100%;
    max-width: 1200px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

}

.menu-item {
    flex: 1 1 200px; 
    max-width: 250px;
    text-align: center;
    background-color: #456882;
    color: #fff;
    text-decoration: none;
    padding: 12px 0;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 20px;
}

.menu-item:hover {
    background-color: #ffffff;
    color: #234C6A;
}


.about-box {
    margin: 0px auto;
    background-color: #456882;
    height: 500px;
    width: 100%;
    max-width: 1200px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.skills-box {
    margin: 0px auto;
    width: 100%;
    max-width: 1200px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.skill-item {
    background-color: #456882;
    color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 250px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex: 1 1 200px;
}

.skill-item:hover {
    background-color: #ffffff;
    color: #234C6A;
}

.skill-item:hover 
.skill-text {
    color: #234C6A;
}

.skill-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.skill-text {
    font-size: 16px;
    color: #ffffff;
}


.resume-box {
    margin: 0px auto;
    background-color: #456882;
    height: 200px;
    width: 100%;
    max-width: 1200px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.contact-box {
    margin: 0px auto;
    height: 300px;
    width: 100%;
    max-width: 1200px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

}

.contact-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.contact-item {
    flex: 1 1 200px;
    max-width: 250px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #456882;
    padding: 14px 0;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: row-reverse;
    font-size: 20px;
}

.contact-item:hover {
    background-color: #ffffff;
    color: #234C6A;
}

.about-box {
    background-color: transparent;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
}

.about-content-box {
    background-color: #456882;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    flex-wrap: wrap;
    gap: 30px;
    box-sizing: border-box;
}

.about-image {
    flex: 1 1 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    object-fit: cover;
    transition: 0.3s;
}

.about-image img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.4);
}

.about-content {
    flex: 2 1 400px;
    text-align: center;
}

.about-content h2 {
    font-size: 26px;
    color: #fff;
    margin-bottom: 10px;
}

.about-content p {
    font-size: 17px;
    color: #e0e0e0;
    line-height: 1.8;
    margin-bottom: 25px;
}

.about-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.about-icons i {
    font-size: 26px;
    color: #ffffff;
    transition: 0.2s;
}

.about-icons i:hover {
    color: #fff;
    transform: scale(1.2);
}

